google-genai
PySide6
python-dotenv
sounddevice
numpy
mss
opencv-python
pillow
requests
psutil
win11toast
google-api-python-client
paho-mqtt
tuya-connector-python
pywin32
pypdf
discord.py
vosk
playwright
edge-tts